.elcContainer{
    display: flex;
	flex-direction: column;
    gap: 10px;
    border-top: 1px solid lightgray;
    padding: 10px 0 10px 0;
    height: 250px;

}

.elcContainer p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elcTop{
    display: flex;
    gap: 10px;
}
.elcTopRight{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.elcTopRight > h5{
    font-weight: 400;
    color: #00525E;
}
