@media only screen and (min-width: 1224px) {
	/* Styles */
	.gdpContainer {
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 6fr 1fr;
	}

	.gdpTopSection {
		background-color: white;
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
	}

	.gdpTopLeft {
		display: flex;
		flex-direction: column;
	}

	.gdpGroupLink {
		text-decoration: none;
		text-decoration: underline;
		color: #00525e;
	}

	.gdpImg {
		width: 550px;
		height: 365px;
		object-fit: cover;
	}

	.gdpTopRight {
		padding-top: 14px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 15px;
		width: 100%;
	}

	.gdpTRInfo {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.gdpButtonsDiv {
		display: flex;
		gap: 15px;
	}

	.gdpButtons {
		border: none;
		padding: 10px 15px 10px 15px;
		cursor: pointer;
		background-color: #ff5a5f;
		color: #ffffff;
		font-weight: 500;
		transition: all 0.3s ease 0s;
	}

	.gdpButtons:hover {
		background-color: #7f292c;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
	}

	.gdpBottomSection {
		background-color: rgb(246, 246, 246);
		padding-top: 15px;
        padding-bottom: 75px;
	}
	.gdpBSContent {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.gdpOrganzier > h3 {
		margin-bottom: 5px;
	}
	.gdpAbout > h3 {
		margin-bottom: 5px;
	}
	.gdpUEvents > h3 {
		margin-bottom: 10px;
	}
    .gpdPEvents > h3{
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* Styles */
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	/* Styles */
}
