.grid-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 10px;
}

.ceEventName {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
	gap: 5px;
}

.ceEventName > input{
  width: 50%;
}

.ceSecondContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-top: 2px solid gray;
	padding-top: 15px;
	margin-bottom: 20px;
}

.ceType {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.ceType > select {
  width: 15%;
}
.cePrivacy {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cePrivacy > select {
  width: 15%;
}
.cePrice {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cePrice > input {
  width: 10%;
}

.ceSectionContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-top: 2px solid gray;
	padding-top: 15px;
	width: 100%;
	margin-bottom: 20px;
}
.ceStartContainer {
	display: flex;
	align-items: end;
	gap: 10px;
}
.ceStart {
	display: flex;
	flex-direction: column;
	width: 250px;
	gap: 5px;
}
.ceStartContainer > i {
	font-size: 20px;
}
.ceImg {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.ceImg > input{
  width: 50%;
}
.ceDescription {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.ceButton > button {
	border: none;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	background-color: #ff5a5f;
	color: #ffffff;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	margin-bottom: 50px;
	width: 20%;
}

.ceButton > button:hover {
  background-color: #7f292c;
}

.fillData{
  border: none;
  background-color: white;
  color: #00525E;
  font-size: 14px;
  cursor: pointer;
}
.fillData:hover{
  text-decoration: underline;
}
